.fullContainer{
    height: 80%;
    width: 100%;
    display: block;
    margin: auto;
}

.carouselContainer{
    height: 40%;
    width: 60%;    
    margin:auto;    
}

.carouselImageContainer{
    width: 100%;
    height:80%;
}

.carouselImage{
    max-height: 100%;
    max-width: 100%;
}

.carouselButtonContainer{
    margin-bottom: 20px;
}

.imageSelectorButton{
    width:25%;
}

.decreaseButton{
    float: left;
}

.increaseButton{
    float:right;
}