.tagContainer{
    width: 60%;
    height: 100%;
    display:block;
    margin: auto;    ;
}

.tagForm{    
    display:inline!important;
    fullWidth: true;
    
}

.tagList{
    display: inline-block;
    text-align: left;
    float:left;
}

.tagList ul{
    list-style: none;
}

.fullContainer{
    height:80%;
}

.addTagContainer{
    float:right;
    width:65%;
}

.addTagDropDown{
    margin-right: 10px;
    width:62%;
    height:30px;
    font-size:1.25em;
}

h2{
    margin: 0px;
}
.tagsHeader{
    margin: 0px;
}
